.one {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}
.two{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}
.three{
    text-transform:lowercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
} 