.element {
    width: 400px;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 15px;
}

.element-1{
    border-left: 8px solid #e91e63;
    outline: 10px solid #eee;
}

.element-3{
    border-left: 8px solid #04a0e8;
    outline: 10px solid #eee;
}

.element-2{
    visibility: hidden;
}

