div {
    color: white;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: absolute;
}


.blue {
    background-color: #03a9f4;
    z-index: 1;

}

.red {
    background-color: #f44336;  
    z-index: 3;
    left: 30px;
    top: 30px;
}

.green {
    background-color: #009688;
    z-index: 2;
    left: 20px;
    top: 20px;
}

.black {
    width: 12px;
    height: 12px;
    background-color: black;
    top: 96px;
    z-index: 1;
}

