* {
    box-sizing: border-box;
}
.parent {
    font-family: 'Source Sans 3', sans-serif;
    background-color:  #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    color: #454444;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;

}

.learn-more {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #50c878;
    border-radius: 30px;
    color: #50c878;
    text-decoration: none;
    font-weight: 600;
}

.learn-more:hover {
    background-color: #50c878;
    color: #fff;
}
