div {
    background-color: rgb(160, 46, 46);
    display: block;
    width: fit-content;
    max-width: 400px;
    max-height: 40px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
    overflow: hidden;

}
